@import "tailwindcss";
@custom-variant dark (&:where([theme-mode=dark], [theme-mode=dark] *));

body {
    background-color: var(--td-bg-color-container);
    color: var(--td-text-color-primary);
    width: 100% !important;
}

#nprogress .bar {
    background-image: linear-gradient(
            to right,
            var(--td-brand-color-2),
            var(--td-brand-color)
    ) !important;
}
