<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yzdoit.purepanel.mapper.SysUserMapper">

    <select id="pageList" resultType="cn.yzdoit.purepanel.pojo.res.UserPageListRes">
        select id,
        name,
        account,
        avatar,
        status,
        email,
        phone_number,
        create_time,
        update_time,
        create_by_user_id,
        update_by_user_id
        from sys_user
        <where>
            <if test="req.name!=null and req.name!=''">
                name like concat('%', #{req.name} ,'%')
            </if>
            <if test="req.account!=null and req.account!=''">
                and account like concat('%', #{req.account} ,'%')
            </if>
        </where>
    </select>
</mapper>