<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yzdoit.purepanel.mapper.SysUserGroupMapper">

    <select id="listByUserId" resultType="cn.yzdoit.purepanel.pojo.bo.SysUserGroupBo">
        select sug.user_id,
        sug.group_id,
        sg.name
        from sys_user_group sug
        left join sys_group sg on sug.group_id = sg.id
        <where>
            <if test="userIdList!=null and userIdList.size()>1">
                sug.user_id IN
                <foreach collection="userIdList" item="userId" open="(" separator="," close=")">
                    #{userId}
                </foreach>
            </if>
        </where>
    </select>
</mapper>